



body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff
}
/* Reset */


    a { 
    text-decoration: none; 

}
    ul, ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    h1, h2,h3, h4, h5, h6, p {
        margin: 0;
    }

    address {
        font-style: normal;
    }
    button {
    cursor: pointer;
}


/* common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto ;
}





/* Header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.list-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
     font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height:  1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}


.header-logo {
    margin-right: 76px;
padding: 24px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
    
}
.footer-logo {
    margin-bottom: 16px;
}
.footer-logo .logo-part {
    color: #f4f4fd;

}


.link-nav {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    

}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;

}


.link-nav:hover,
.link-nav:focus,
.contacts-link:hover,
.contacts-link:focus
{
    color: #404bbf;
}


.contacts {
    font-style: normal;
    margin-left: auto;
}

.page-footer {
    background-color: #2e2f42;
    
}

.hero-btn {
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        font-family: "Roboto", sans-serif
}
.hero-btn:hover, 
.hero-btn:focus {
background-color: #404bbf;
}
.hero {
    background: #2e2f42;


}

.hero-title {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.info-item-title{
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.info-text {
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team {
background-color: #F4F4FD;
}

.our-team {
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}
.our-team-list {
background-color: #FFFFFF
}

.our-team-item {
background-color: #FFFFFF
}
.our-team-item-title {

        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        background-color: #FFFFFF
        
}
.our-team-item-text {
   
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.portfolio-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}
.portfolio-item-title{

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer-text {
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

